#profileModifyPage {
    .contents {
        position: relative;
        top: calc(var(--vw, 1vw) * 17.5);
        left: 0;
        padding-bottom: calc(var(--vw, 1vw) * 10);

        .label {
            text-align: left;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            margin-bottom: calc(var(--vw, 1vw) * 2.5);
        }

        .neccesary::after {
            color: #FA00FF;
            content: '*';
        }

        .input {
            background-color: #E9E9E9;
            border: none;
            border-radius: calc(var(--vw, 1vw) * 2.66);
            font-family: 'Pretendard';
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;

            &::placeholder {
                color: #8A8A8A;
            }
        }

        .text {
            height: calc(var(--vw, 1vw) * 11.2);
            padding-left: calc(var(--vw, 1vw) * 3);
            padding-right: calc(var(--vw, 1vw) * 3);
        }

        .profileImage {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: calc(var(--vw, 1vw) * 3);
            margin-bottom: calc(var(--vw, 1vw) * 8);

            ::v-deep(.roundProfile) {
                width: calc(var(--vw, 1vw) * 23.7);
                height: calc(var(--vw, 1vw) * 23.7);
                z-index: 0;
            }

            .selectProfileImage {
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 50%;
                transform: translate(calc(-50% + var(--vw, 1vw) * 8), 0);
                width: calc(var(--vw, 1vw) * 6.67);
                height: calc(var(--vw, 1vw) * 6.67);
                border-radius: 50%;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-bottom: 2px;
                }
            }
        }

        .profileImage ~ div {
            margin-bottom: calc(var(--vw, 1vw) * 7.5);
        }

        .nickname {
            .input.text {
                width: 100%;
            }
        }

        .signatureWork {
            ::v-deep(.swiper) {
                .swiper-slide {
                    border-radius: calc(var(--vw, 1vw) * 2.66);
                    width: calc(var(--vw, 1vw) * 53.5);
                    height: calc(var(--vw, 1vw) * 53.5);
                }

                .swiper-slide.input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .introduction {
            .textarea {
                position: relative;
                width: 100%;
                height: calc(var(--vw, 1vw) * 56.8);
                border: none;
                border-radius: calc(var(--vw, 1vw) * 2.66);
                padding: calc(var(--vw, 1vw) * 3);
                font-style: normal;
                background-color: #E9E9E9;
                
                textarea {
                    width: 100%;
                    height: calc(100% - var(--vw, 1vw) * 6);
                    resize: none;
                    border: none;
                    background-color: transparent;
                    overflow: auto;
                    font-family: 'Pretendard';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                }

                .letterCount {
                    position: absolute;
                    bottom: calc(var(--vw, 1vw) * 3);
                    right: calc(var(--vw, 1vw) * 3);
                    font-family: 'Pretendard';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #5E5E5E;
                }
            }
        }

        .tag {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .label {
                margin-bottom: 0;
            }
            
            .tagSelectionButton {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
            }
        }

        .sns {
            .accountContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: calc(var(--vw, 1vw) * 3);

                .snsAccount {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: calc(var(--vw, 1vw) * 3);

                    .logo {
                        width: calc(var(--vw, 1vw) * 8.53);
                        height: calc(var(--vw, 1vw) * 8.53);
                        background-color: #E9E9E9;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .input {
                        flex-grow: 1;
                    }
                }
            }
        }

        .mail {
            .mailContainer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: calc(var(--vw, 1vw) * 3);

                input {
                    flex-basis: 50%;
                }

                select {
                    width: auto;
                    flex-grow: 1;
                    text-align: left;
                    font-family: 'Pretendard';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
            
                    option {
                        color: black;
                        width: 100%;
                    }
                }
            }
        }

        .link {
            .linkContainer {
                input {
                    width: 100%;
                }
            }
            .linkAdd {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: calc(var(--vw, 1vw) * 2);
                margin-top: calc(var(--vw, 1vw) * 3);
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: #8A8A8A;
            }
        }
    }
}