#profilePage {
    position: relative;
    padding: 0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    ::v-deep(.mainProfile) {
        flex: 0 0 calc(var(--vw, 1vw) * 65);
    }

    .bottom {
        flex: 1 0 calc(100% - var(--vw, 1vw) * 65);
        height: calc(100% - var(--vw, 1vw) * 65);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .tab {
            flex: 0 0 calc(var(--vw, 1vw) * 12);
            width: 100%;

            .navigationBar {
                width: 100%;
                padding-left: calc(var(--vw, 1vw) * 7);
                padding-right: calc(var(--vw, 1vw) * 7);
                display: flex;
                height: calc(var(--vw, 1vw) * 12);
                align-items: center;
                justify-content: center;
                background-color: white;

                ::v-deep(#tabs) {
                    height: 100%;
                    width: 100%;

                    >div.va-tabs__wrapper,
                    >div.va-tabs__wrapper>div {
                        height: 100%;
                    }

                    .va-tabs__slider {
                        height: 2px !important;
                    }

                    .va-tab__content {
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: -0.06em;

                        color: #000000;
                    }
                }
            }
        }

        .tabBody {
            flex: 0 0 calc(100% - var(--vw, 1vw) * 12);
            height: calc(100% - var(--vw, 1vw) * 12);
            width: 100%;
            overflow: hidden;
            padding-top: var(--padding, 5vw);

            ::v-deep(.swiper) {
                height: 100%;

                .swiper-slide {
                    height: 100%;
                    overflow: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                        height: 0;
                        background: transparent;
                        -webkit-appearance: none;
                    }
                }
            }
        }
    }
}