#basicInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-left: var(--padding, 5vw);
    padding-right: var(--padding, 5vw);
    gap: calc(var(--vw, 1vw) * 7);

    > div {
        .label {
            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.06em;
    
            color: #000000;
            padding-bottom: calc(var(--vw, 1vw) * 3);
        }

        .background {
            background-color: #F5F5F5;
            height: calc(var(--vw, 1vw) * 11);
            border: none;
            border-radius: calc(var(--vw, 1vw) * 2);
            display: flex;
            align-items: center;
            justify-content: center;
        
            .input {
                resize: none;
                background-color: transparent;
                height: auto;
                width: 100%;
                border: none;
                text-align: center;
            }

            textarea, input {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */
            
                letter-spacing: -0.04em;
            
                &::placeholder {
                    color: #959595;
                }
            }
        }
    }

    .material {
        width: calc(var(--vw, 1vw) * 45);

        .background {
            width: 100%;
        }
    }

    .type {
        .form {
            width: calc(var(--vw, 1vw) * 30);
            display: flex;
            align-items: center;
            justify-content: space-between;

            input[type=radio] {
                display: none;
            }

            label {
                background-color: #F5F5F5;
                height: calc(var(--vw, 1vw) * 11);
                width: calc(var(--vw, 1vw) * 13.5);
                border: none;
                border-radius: calc(var(--vw, 1vw) * 2);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */
            
                letter-spacing: -0.04em;
            }

            input[type=radio]:checked + label {
                background-color: #000000;
                color: white;
            }
        }
    }
    .size {
        width: 100%;

        .form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */
        
            letter-spacing: -0.06em;
            
            > div {
                margin-right: calc(var(--vw, 1vw) * 3);
            }
        }

        .background {
            width: calc(var(--vw, 1vw) * 11);
        }
        
        .background.unit {
            width: auto;
            background-color: transparent;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            color: black;
            /* identical to box height */
        
            letter-spacing: -0.06em;

            select {
                option {
                    color: black
                }
            }
        }
    }

    .manufacturedDate {
        width: calc(var(--vw, 1vw) * 20.5);

        .background {
            width: 100%;
        }
    }

}