#textColorSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: calc(var(--vw, 1vw) * 5);

    > div:first-child {
        padding-top: calc(var(--vw, 1vw) * 1);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: -0.06em;
    
        color: #959595;
    }
    
    .textColorButtonContainer {
        display: flex;
        width: calc(var(--vw, 1vw) * 50);
        align-items: center;
        justify-content: space-evenly;

        input[type=radio] {
            display: none;
        }

        label {
            height: calc(var(--vw, 1vw) * 11);
            width: calc(var(--vw, 1vw) * 11);
            border-radius: calc(var(--vw, 1vw) * 5.5);
            border: 1px solid black;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input[type=radio],#black + label {
            background-color: #000000;
        }

        input[type=radio],#white + label {
            background-color: #ffffff;
        }
    }
}