.exhibitionEditButton {
    
    .previewMode, .editMode {
        position: fixed;
        bottom: calc(var(--vw, 1vw) * 10);
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    .editMode {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--vw, 1vw) * 8)
    }

    div[class$="Button"] {
        width: calc(var(--vw, 1vw) * 33);
        height: calc(var(--vw, 1vw) * 14);
        border-radius: calc(var(--vw, 1vw) * 7);
        border: 2px solid #CCFF00;
        background-color: #CCFF00;

        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 115%;
        color: black;
    }

    .deleteButton {
        background-color: white !important;
        color: #959595 !important;
    }
}