#artworkModifyPage {
    --color: white;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;

    .frontPage {
        position: relative;
        left: calc((-1) * var(--padding, 5vw));
        width: calc(100% + (2 * var(--padding, 5vw)));
        height: 100%;
        
        .header, .body {
            padding-left: var(--padding, 5vw);
            padding-right: var(--padding, 5vw);
        }
        .header {
            position: relative;
            z-index: 1;
            width: 100%;
            height: calc(var(--vw, 1vw) * 15);
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            ::v-deep(.roundProfile) {
                width: calc(var(--vw, 1vw) * 8);
                height: calc(var(--vw, 1vw) * 8);
            }
        }
    
        .body {
            position: relative;
            z-index: 1;
            width: 100%;
    
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .artworkTitle {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 115%;
                    letter-spacing: -0.04em;
                    text-align: left;
                }
    
                .archiveInformation {
                    display: flex;
                    align-items: center;
                    gap: calc(var(--vw, 1vw) * 1);
    
                    .archiveLogo {
                        width: calc(var(--vw, 1vw) * 9);
                        height: calc(var(--vw, 1vw) * 4.8);
                        display: flex;
                        justify-content: center;
                        gap: 3px;
                        align-items: center;
                        overflow: visible;

                        svg {
                            overflow: visible;
                        }
                    }
    
                    .archiveCount {
                        height: 20px;
                        overflow: visible;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 22px;
                        text-align: right;
                    }
                }
            }
    
            .bottom {
                padding-top: calc(var(--vw, 1vw) * 3);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: calc(var(--vw, 1vw) * 2);
    
                .artist {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 115%;
                    letter-spacing: -0.06em;
                }
    
                .snsLink {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    flex-wrap: nowrap;
                    a {
                        svg {
                            flex: 0 0 auto;
                        }
                    }
                }
            }
        }

        ::v-deep(.swiper) {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            
            .swiper-slide {
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                
                .video {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    video {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    img {
                        filter: blur(10px)
                    }
                }
            }
            .swiper-pagination {
                bottom: calc(var(--vw, 1vw) * 33);

                .swiper-pagination-bullet {
                    background: rgba(217, 217, 217, 0.6);
                    opacity: 1;
                    width: 5px;
                    height: 5px;
                    margin: 0 3px;
                }

                .swiper-pagination-bullet-active {
                    background: var(--color);
                }
            }
        }
    }

    #commentBar {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        transform: translate(0%, 100%);
        transition: bottom 0.5s;
        width: 100%;
        height: 80%;
        background-color: white;
        border-top-left-radius: calc(var(--vw, 1vw) * 5);
        border-top-right-radius: calc(var(--vw, 1vw) * 5);
        padding: var(--padding, 5vw);
        padding-top: calc(var(--vw, 1vw) * 12);
        overflow-y: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        .commentBarHeader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(var(--vw, 1vw) * 8);
            display: flex;
            align-items: center;
            justify-content: center;

            .drawingBar {
                height: 100%;
                width: calc(var(--vw, 1vw) * 8);

                div {
                    display: inline-block;
                    width: 100%;
                    height: calc(var(--vw, 1vw));
                    border-radius: calc(var(--vw, 1vw) * 0.5);
                    background-color: #D9D9D9;
                }
            }
        }
    }

    #commentBar::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
        // 스크롤바 잔상 없애기
        height: 0;
        background: transparent;
        /* Optional: just make scrollbar invisible */
        -webkit-appearance: none;
    }
    
    .editPage {
        > div:first-child {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: calc(var(--vw, 1vw) * 3);

            > div {
                width: calc(var(--vw, 1vw) * 88);
                height: calc(var(--vw, 1vw) * 41);
                border-radius: calc(var(--vw, 1vw) * 3);
                background-color: #f5f5f5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: calc(var(--vw, 1vw) * 3);

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: -0.04em;
                    color: #000000;
                }
            }
        }
        
        .popup {
            position: absolute;
            z-index: 2;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(var(--vw, 1vw) * 65);
            height: calc(var(--vw, 1vw) * 55);
            border-radius: calc(var(--vw, 1vw) * 3);
            border: none;
            background-color: white;
            padding-left: var(--padding, 5vw);
            padding-right: var(--padding, 5vw);
            display: grid;
            grid-template-rows: 2fr 1fr;

            font-size: 18px;
            line-height: 140%;
            text-align: center;
            letter-spacing: -0.06em;
        
            color: #000000;

            .guidance {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid black;
            }

            .buttonContainer {
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                .firstButton {
                    font-weight: bold;
                }
                
                .deleteButton {
                    color: rgb(221, 25, 25);
                }
            }
        }
    }

    > .buttonContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: calc(var(--vw, 1vw) * 30);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        ::v-deep(.editButton) {
            width: calc(var(--vw, 1vw) * 33);
            height: calc(var(--vw, 1vw) * 18);
            background-color: transparent;

            .inner {
                height: 100%;
                border-radius: calc(var(--vw, 1vw) * 9);
            }
        }

        ::v-deep(.shareButton),
        ::v-deep(.commentButton) {
            border: none;
            outline: 0;
            box-shadow: none;
            background-color: transparent;
            flex: 0 1 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }
    }
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}