#myPage {
    position: relative;

    .top {
        height: calc(var(--vw, 1vw) * 15);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            height: calc(var(--vw, 1vw) * 8);
            width: auto;
            border: none;
            background-color: transparent;
            box-shadow: none;
            outline: none;

            img,
            svg {
                height: 100%;
                width: auto;
            }

            div.poppins {
                margin-left: calc(var(--vw, 1vw) * 2);
                display: inline;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }
        .sideBarOpenButtonContainer {
            height: calc(var(--vw, 1vw) * 8);
            display: flex;

            .sideBarOpenButton {
                height: calc(var(--vw, 1vw) * 4);
                align-self: flex-end;
            }
        }

    }

    .middle {
        display: flex;
        flex-direction: column;
        height: calc(var(--vw, 1vw) * 55);
        align-items: center;
        justify-content: center;
        gap: calc(var(--vw, 1vw) * 2);

        ::v-deep(.roundProfile) {
            height: calc(var(--vw, 1vw) * 23);
            width: calc(var(--vw, 1vw) * 23);
        }

        .name {
            font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 125.8%;
                text-align: center;
                letter-spacing: -0.06em;
                color: #1D1D1D;
        }
    }

    .bottom {
        .myArtwork {
            height: calc(var(--vw, 1vw) * 8);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            border-bottom: 1px solid #DADADA;
            margin-bottom: calc(var(--vw, 1vw) * 4);

            font-family: 'NanumGothic';
            font-style: normal;
            font-weight: bolder;
            font-size: 13px;
            line-height: 13px;
            /* identical to box height */
        
            text-align: center;
            letter-spacing: -0.06em;
        
            color: #000000;
        }
    }
}